html {
  height: 100%;
}
h1 {
  font-size: 2.5rem;
}
* {
  outline: none;
}
body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
}
a {
  color: #00e;
}
pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 6px;
}
code {
  color: #f8f8f2;
  background-color: #272822;
  margin: 0;
  font-size: 85%;
  border-radius: 6px;
}
p code {
  padding: 0.2em 0.4em;
}
.button {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  border: 2px solid #4d4d4d;
  padding: 7px 10px;
  &:hover {
    background: #6f6f6f;
    color: #fff !important;
    border: 2px solid #6f6f6f;
  }
}
.hidden {
  display: none !important;
}

section {
  h2 {
    color: #6f6f6f;
    font-weight: 700;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    color: #4d4d4d;
  }
}